<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link href="../fullcalendar.min.css" rel="stylesheet">
<link href="../fullcalendar.print.min.css" rel="stylesheet" media="print">
<script src="../lib/moment.min.js"></script>
<script src="../lib/jquery.min.js"></script>
<script src="../fullcalendar.min.js"></script>  



<script> 
  $(document).ready(function() {

    $('#calendar').fullCalendar({
      monthNames: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
      monthNamesShort: ["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"],
      dayNames: ["일요일","월요일","화요일","수요일","목요일","금요일","토요일"],
      dayNamesShort: ["일","월","화","수","목","금","토"], 
      titleFormat: 'YYYY년 MM월', 
      theme:'bootstrap4',
      header: {
        left: 'prev,next',
        center: 'title',
        right:  'today'
      }, 
      fixedWeekCount: false,
      height: "auto", 
      handleWindowResize: false,
      defaultDate: Date().today, 
      
      editable: true,
      eventLimit: true, // allow "more" link when too many events 
      selectable: true,
      selectHelper: true,
      dayClick: function(date, jsEvent, view) {
        link ="/view?date=" + date.format("YYYY MMMM Do ") +"&id=" + <%=@user.id%>;   
					document.getElementById('iframe').src = link;   
      }, 
    });

  }); 
</script>
<style>  
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
body{
	font-family: 'Sunflower', sans-serif; 
}
.scroll{
	overflow-y:scroll;
	
}
.btn-link{
	color:#c6d1da  !important;
} 
.w3-theme-l5 {
	color:#000 !important; 
	background-color:#f8f8f8 !important
	
}
@media(max-width:1023px){
  .fc-basic-view .fc-body .fc-row{ 
     min-height:0px;!important
     height: 10px!important;
     overflow-y:scroll!important;
  }
  .w3-margin{
    margin: 0px!important;
  } 
}
</style>


<body class="w3-theme-l5">  
<div class="w3-top">
	<div class="w3-bar w3-theme-d2 w3-left-align w3-large">
		<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
		<div class="w3-dropdown-hover ">
			<button class="w3-bar-item w3-button w3-padding-large w3-theme-d4 " title="Notifications"><i class="fa fa-calendar w3-margin-right"></i>NakedCalendar</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block">
				<div id="calendar" class="calendar"></div>
			</div>
		</div>
	</div>
</div>
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
	<a href="/users/sign_out" class="w3-bar-item w3-button w3-padding-large" data-method="delete"><i class="fa fa-sign-out w3-margin-right"></i>로그아웃</a>
	<a href="/users/sign_out" class="w3-bar-item w3-button w3-padding-large" data-method="delete"><i class="fa fa-sign-out w3-margin-right"></i>로그아웃</a>
	<button onclick="myFunction('Demo1')" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-share-alt w3-margin-right"></i>공개설정</button>
    					<div id="Demo1" class="w3-hide w3-container">
    						<div>
    							<form action="/share"> 
        								<input type="radio" id="option-1" class="mdl-radio__button" name="share" value="true"  checked="checked">
        								<i class="fa fa-eye"></i> 
        								
        								<input type="radio" id="option-2" class="mdl-radio__button" name="share" value="false">
        								<i class=" fa fa-eye-slash"></i>  
    								<input type="submit" class="btn btn-link" value="수정">
    							</form>
    						</div>
    					</div> 
    <button class="w3-bar-item w3-button w3-padding-large" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit w3-margin-right"></i>정보수정</button>
</div>

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
	<div class="w3-row">
		<div class="w3-col m2">
			<div class="w3-card w3-round w3-white">
				<div class="w3-container">
					<div class="w3-center">
						<span style="font-size:20px"><%=@user.nickname%></span>
					</div> 
					<p class="w3-center">
						<img src="<%=@user.profile%>" class="w3-circle" style="height:106px;width:106px" alt="Avatar">
					</p>
					<hr>
					<p>
						<i class="fa fa-pencil fa-fw w3-margin-right "></i><%=@user.count%>
					</p>
					<p>
						<i class="fa fa-comment-o fa-fw w3-margin-right "></i><%=@user.comment%>
					</p>
					<p>
						<i class="fa fa-birthday-cake fa-fw w3-margin-right"></i><%=@user.age%>
					</p>
				</div>
			</div>
			<br>
			<div class="w3-card w3-round w3-hide-small">
				<div class="w3-white"> 
					<button class="w3-button w3-block w3-theme-l1 w3-left-align"><a href="/users/sign_out" data-method="delete"><i class="fa fa-sign-out w3-margin-right"></i>로그아웃</a></button>
					<%if @user.id == current_user.id%> 
						<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-share-alt w3-margin-right"></i>공개설정</button>
	    					<div id="Demo2" class="w3-hide w3-container">
	    						<div>
	    							<form action="/share">  
	        								<input type="radio" id="option-1" class="mdl-radio__button" name="share" value="true"  checked="checked">
	        								<i class="fa fa-eye"></i>  
	        								<input type="radio" id="option-2" class="mdl-radio__button" name="share" value="false">
	        								<i class=" fa fa-eye-slash"></i>  
	    								<input type="submit" class="btn btn btn-link" value="수정">
	    							</form>
	    						</div>
	    					</div>
    				
					<button class="w3-button w3-block w3-theme-l1 w3-left-align" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-edit w3-margin-right"></i>정보수정</button>
					<%else%>
					<button class="w3-button w3-block w3-theme-l1 w3-left-align"><a href="/" ><i class="fa fa-sign-out w3-margin-right"></i>돌아가기</a></button>
					<%end%>
					<%if current_user.has_role? :admin%>
				    <button class="w3-button w3-block w3-theme-l1 w3-left-align" onclick="location.href='/admin';"><i class="fa fa-exclamation-circle w3-margin-right"></i>관리자페이지</button>
				    <%end%>
				</div>
			</div>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-body">
							<form action="/user_adjust/<%=current_user.id%>" enctype="multipart/form-data" method="post">
								<div class="form-group">
									<div class="input-container">
										<i class="fa fa-user icon"></i>
										<input type="text" class="input-field" name="nickname" value="<%=current_user.nickname%>">
									</div>
								</div>
								<div class="form-group">
									<div class="input-container">
										<i class="fa fa-comment-o fa-fw w3-margin-right "></i>
										<input type="text" class="input-field" name="comment" value="<%=current_user.comment%>">
									</div>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="File1" onchange="onchange1()" name="profile" accept="image/*">
										<label class="custom-file-label" id="label1" for="File1">Choose file</label>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
								<input type="submit" class="btn btn-primary" value="수정완료">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="w3-col m7">
			<div class="w3-container w3-card w3-white w3-round w3-margin">
				<br>
				<iframe id="iframe" src="/profile" style="width:100%;height:500px" frameborder="0">
				</iframe>
			</div>
			<br>
		</div>
		<div class="w3-col m3">
			<div class="w3-card w3-round w3-white w3-center scroll" style="height: 300px;">
				<ul class="demo-list-two mdl-list">
				    <%if current_user.has_role? :admin%>
    				    <%@search_result.each do |s|%>
        				    <%if current_user.id != s.id%>
            				    <hr>
            					<div class="demo-list-action mdl-list">
            						<div class="mdl-list__item">
            							<span class="mdl-list__item-primary-content">
            							<img class="mdl-chip__contact" src="<%=s.profile%>">
            							<span><%=s.nickname%></span>
            							</span>
            							<a class="mdl-list__item-secondary-action" href="/home/<%=s.id%>" data-method="post"><i class="material-icons">visibility</i></a>
            						</div>
            					</div> 
        					<%end%>
    					<%end%>
    				<%else%>
    				    <%@search_result.each do |s|%>
        				    <%if current_user.id != s.id && current_user.gender == s.gender && s.share == true%>
            				    <hr>
            					<div class="demo-list-action mdl-list">
            						<div class="mdl-list__item">
            							<span class="mdl-list__item-primary-content">
            							<img class="mdl-chip__contact" src="<%=s.profile%>">
            							<span><%=s.nickname%></span>
            							</span>
            							<a class="mdl-list__item-secondary-action" href="/home/<%=s.id%>" data-method="post"><i class="material-icons">visibility</i></a>
            						</div>
            					</div> 
        					<%end%>
    					<%end%>
				    <%end%> 
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
// Accordion
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-theme-d1";
    } else { 
        x.className = x.className.replace("w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-theme-d1", "");
    }
} 
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
 
</script>
<style> 
  @media(min-width:1024px){
     .calendar{
    width:600px;
  }
    
  }
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid #555;
}
  
.demo-list-two {
  width: 300px;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
</style>
<script>
	function onchange1(){ 
    document.getElementById('label1').innerHTML =  document.getElementById('File1').value.replace(/C:\\fakepath\\/,'');
  }
</script>
 


<style>
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');
    body { 
  	text-align: center;  
  	font-family: 'Sunflower', sans-serif;
	}
</style>

</body>
　